Match patent data from PATSTAT (Y02A classification) with countries where we have storm disaster data (from EM-DAT and TCE-DAT)

In [2]:
from pathlib import Path

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
cols = [f'{exposed}{v}' for exposed in ['pop', 'assets'] for v in [34, 64, 96]]
cols = cols + [c + f'_d{d}' for c in cols for d in [5, 15, 30]]
#cols

In [4]:
def merge_df(df_p, df_s):
    print(f'Patent data: {len(df_p)} country-years, {len(df_p.patent_office_iso.unique())} countries')
    print(f'Storm data: {len(df_s)} events, {len(df_s.groupby(["ISO", "year"]).event_count.sum())} country-years, '
          f'{len(df_s.ISO.unique())} countries')
    
    # Keep countries where we have at least one storm event registered, and patent data
    # Also keep years where we have patent data (1990+)    
    df_s = df_s[(df_s.ISO.isin(df_p.patent_office_iso.unique())) & (df_s.year >= df_p.appln_year.min())]
    df_p = df_p[df_p.patent_office_iso.isin(df_s.ISO.unique())]
    
    df = pd.merge(df_p.rename(columns={'patent_office_iso': 'ISO', 'appln_year': 'year'}), 
                  df_s.groupby(['ISO', 'year']).sum().reset_index(), 
                  on=['ISO', 'year'], how='outer')
    df = df[['ISO', 'year', 'tot_pat_adapt', 'TotalDeaths', 'NoInjured', 'NoAffected',
           'NoHomeless', 'TotalAffected', 'ReconstructionCosts(\'000US$)', 'InsuredDamages(\'000US$)', 'TotalDamages']
            + cols + ['event_count', 'event_count_v34', 'event_count_v64', 'event_count_v96']]
    df = df.rename(columns={'ReconstructionCosts(\'000US$)': 'ReconstructionCosts', 'InsuredDamages(\'000US$)': 'InsuredDamages'})
    
    # for storms where we had a match
    df_sm = df_s.loc[(df_s.ISO.isin(df_p.patent_office_iso.unique())) & (df_s.year >= df_p.appln_year.min()) & (df_s.is_match), 
                     ['ISO', 'year', 'TotalDeaths', 'NoInjured', 'NoAffected', 'NoHomeless', 'TotalAffected', 'TotalDamages', 'event_count']]
    df = pd.merge(df, df_sm.groupby(['ISO', 'year']).sum().reset_index(), on=['ISO', 'year'], how='outer',
                 suffixes=('', '_match_only'))

    assert not df.tot_pat_adapt.isna().any()
    print('After merging')
    print(f'Countries with patent data and at least 1 storm event: {len(df.ISO.unique())}')
    print(f'Country-years total: {len(df)}, with at least 1 storm event: {df.event_count.count()}')
    return df

In [5]:
def get_analysis_df(df):
    return pd.concat([df.groupby('ISO').tot_pat_adapt.sum(), df.groupby('ISO').event_count.sum(), df.groupby('ISO').event_count.count(), 
                      df.groupby('ISO').tot_pat_adapt.count(), df.groupby('ISO').event_count.count()/df.groupby('ISO').tot_pat_adapt.count()],
                     keys=['tot_pat_adapt', 'total_storm_events', 'country_years_with_storms', 'country_years', 'share_with_storms'], axis=1)

# Load data

In [6]:
project_dir = Path().resolve().parents[2]

In [6]:
df_storms_tc = pd.read_excel(project_dir.joinpath('data/emdat_tcedat_merged.xlsx'))
df_storms_tc.columns

Index(['DisNo', 'Year', 'Seq', 'DisasterGroup', 'DisasterSubgroup',
       'DisasterType', 'DisasterSubtype', 'DisasterSubsubtype', 'EventName',
       'EntryCriteria',
       ...
       'assets34_d5', 'assets64_d5', 'assets96_d5', 'assets34_d15',
       'assets64_d15', 'assets96_d15', 'assets34_d30', 'assets64_d30',
       'assets96_d30', 'is_match'],
      dtype='object', length=103)

In [7]:
df_storms_all = pd.read_excel(project_dir.joinpath('data/emdat_tcedat_merged_all_storm_types.xlsx'))
df_storms_all.columns

Index(['DisNo', 'Year', 'Seq', 'DisasterGroup', 'DisasterSubgroup',
       'DisasterType', 'DisasterSubtype', 'DisasterSubsubtype', 'EventName',
       'EntryCriteria',
       ...
       'assets34_d5', 'assets64_d5', 'assets96_d5', 'assets34_d15',
       'assets64_d15', 'assets96_d15', 'assets34_d30', 'assets64_d30',
       'assets96_d30', 'is_match'],
      dtype='object', length=103)

In [8]:
# non int number of patents for USA 2015: OK normal, can be due to some inventions coming from 2 countries, and partly
# attributed to one?
df_patstat= pd.read_excel(project_dir.joinpath('data/Storms_AdaptPatents_Filed_year_1990_2015.xlsx'))
df_patstat

     technology  hazard patent_office_iso  appln_year  tot_pat_adapt
0          Y02A  Storms               ALB        1990            0.0
1          Y02A  Storms               ALB        1991            0.0
2          Y02A  Storms               ALB        1992            0.0
3          Y02A  Storms               ALB        1993            0.0
4          Y02A  Storms               ALB        1994            0.0
...         ...     ...               ...         ...            ...
2403       Y02A  Storms               ZWE        2013            0.0
2404       Y02A  Storms               ZWE        2014            0.0
2405       Y02A  Storms               ZWE        2015            0.0
2406       Y02A  Storms               ZWE        2016            0.0
2407       Y02A  Storms               ZWE        2017            0.0

[2408 rows x 5 columns]

# Combine data - Tropical Cyclones only
Aggregate event data to the country-year level and merge the 2 datasets

In [9]:
# All recorded EM-DAt events
df_storms_tc['event_count'] = 1
# All recorded events that were merged with TCE-DAT (useful to reduce the reporting bias: 
# do not consider weak storms reported in some countries only)
df_storms_tc['event_count_v34'] = 0
df_storms_tc.loc[df_storms_tc.v_land_kn >= 34, 'event_count_v34'] = 1
# Category 1+ hurricane on saffir simpson scale (only valid for western hemisphere cyclones)
df_storms_tc['event_count_v64'] = 0
df_storms_tc.loc[df_storms_tc.v_land_kn >= 64, 'event_count_v64'] = 1
# Category 3+ hurricanes
df_storms_tc['event_count_v96'] = 0
df_storms_tc.loc[df_storms_tc.v_land_kn >= 96, 'event_count_v96'] = 1

df_storms_tc[df_storms_tc.is_match].groupby(['ISO', 'year']).sum()

          Year  Seq  DisasterSubsubtype  AidContribution  DisMagValue  \
ISO year
AIA 1984  1984  200                 0.0              0.0          0.0
    1999  1999  528                 0.0              0.0        215.0
ANT 1989  1989  115                 0.0              0.0          0.0
    1995  1995  193                 0.0              0.0        220.0
ASM 2005  2005  151                 0.0              0.0          0.0
...        ...  ...                 ...              ...          ...
VUT 2015  2015   93                 0.0              0.0        250.0
WSM 2005  2005  151                 0.0              0.0        190.0
    2012  2012  498                 0.0           3458.0          0.0
YEM 2015  4030  978                 0.0              0.0          0.0
ZWE 2003  2003  114                 0.0              0.0          0.0

          Latitude  Longitude  month  day  EndYear  ...  assets64_d15  \
ISO year                                            ...
AIA 1984       0.0        0.0     11    7     1984  ...           0.0
    1999       0.0        0.0     11   17     1999  ...           0.0
ANT 1989       0.0        0.0      9   17     1989  ...           0.0
    1995       0.0        0.0      9    5     1995  ...           0.0
ASM 2005       0.0        0.0      2   16     2005  ...           0.0
...            ...        ...    ...  ...      ...  ...           ...
VUT 2015       0.0        0.0      3   12     2015  ...           0.0
WSM 2005       0.0        0.0      2   16     2005  ...           0.0
    2012       0.0        0.0     12   13     2012  ...           0.0
YEM 2015       0.0        0.0     22   11     4030  ...           0.0
ZWE 2003       0.0        0.0      3    7     2003  ...           0.0

          assets96_d15  assets34_d30  assets64_d30  assets96_d30  is_match  \
ISO year
AIA 1984           0.0           0.0           0.0           0.0       1.0
    1999           0.0           0.0           0.0           0.0       1.0
ANT 1989           0.0           0.0           0.0           0.0       1.0
    1995           0.0           0.0           0.0           0.0       1.0
ASM 2005           0.0           0.0           0.0           0.0       1.0
...                ...           ...           ...           ...       ...
VUT 2015           0.0           0.0           0.0           0.0       1.0
WSM 2005           0.0           0.0           0.0           0.0       1.0
    2012           0.0           0.0           0.0           0.0       1.0
YEM 2015           0.0           0.0           0.0           0.0       2.0
ZWE 2003           0.0           0.0           0.0           0.0       1.0

          event_count  event_count_v34  event_count_v64  event_count_v96
ISO year
AIA 1984            1                1                0                0
    1999            1                1                1                0
ANT 1989            1                1                0                0
    1995            1                1                1                1
ASM 2005            1                1                1                1
...               ...              ...              ...              ...
VUT 2015            1                1                1                1
WSM 2005            1                1                1                0
    2012            1                1                1                0
YEM 2015            2                2                2                1
ZWE 2003            1                1                0                0

[495 rows x 78 columns]

In [10]:
df_match_only = merge_df(df_patstat, df_storms_tc[df_storms_tc.is_match])
df_match_only.dropna()

Patent data: 2408 country-years, 86 countries
Storm data: 876 events, 495 country-years, 70 countries
After merging
Countries with patent data and at least 1 storm event: 17
Country-years total: 476, with at least 1 storm event: 203

,ISO,year,tot_pat_adapt,TotalDeaths,NoInjured,NoAffected,NoHomeless,TotalAffected,ReconstructionCosts,InsuredDamages,...,event_count_v34,event_count_v64,event_count_v96,TotalDeaths_match_only,NoInjured_match_only,NoAffected_match_only,NoHomeless_match_only,TotalAffected_match_only,TotalDamages_match_only,event_count_match_only
9,AUS,1999,168.0,6.0,0.0,4000.0,672.0,4672.0,0.0,0.0,...,2.0,2.0,1.0,6.0,0.0,4000.0,672.0,4672.0,500000.0,2.0
10,AUS,2000,196.0,1.0,0.0,600.0,0.0,600.0,0.0,10000.0,...,2.0,2.0,0.0,1.0,0.0,600.0,0.0,600.0,150000.0,2.0
16,AUS,2006,76.0,0.0,30.0,2000.0,7000.0,9030.0,0.0,335000.0,...,3.0,2.0,2.0,0.0,30.0,2000.0,7000.0,9030.0,1182354.0,3.0
17,AUS,2007,72.0,2.0,0.0,730.0,90.0,820.0,0.0,0.0,...,1.0,1.0,1.0,2.0,0.0,730.0,90.0,820.0,100000.0,1.0
19,AUS,2009,68.0,0.0,0.0,400.0,0.0,400.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,400.0,0.0,400.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441,VNM,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
443,VNM,2013,0.0,74.0,584.0,1962485.0,375.0,1963444.0,0.0,0.0,...,4.0,4.0,1.0,74.0,584.0,1962485.0,375.0,1963444.0,1474230.0,4.0
444,VNM,2014,0.0,38.0,0.0,48075.0,0.0,48075.0,0.0,0.0,...,3.0,2.0,1.0,38.0,0.0,48075.0,0.0,48075.0,10700.0,3.0
445,VNM,2015,0.0,18.0,0.0,0.0,115.0,115.0,0.0,0.0,...,2.0,0.0,0.0,18.0,0.0,0.0,115.0,115.0,12800.0,2.0
461,ZWE,2003,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [11]:
df_all = merge_df(df_patstat, df_storms_tc)
df_all.dropna()

Patent data: 2408 country-years, 86 countries
Storm data: 1483 events, 817 country-years, 109 countries
After merging
Countries with patent data and at least 1 storm event: 33
Country-years total: 924, with at least 1 storm event: 263

,ISO,year,tot_pat_adapt,TotalDeaths,NoInjured,NoAffected,NoHomeless,TotalAffected,ReconstructionCosts,InsuredDamages,...,event_count_v34,event_count_v64,event_count_v96,TotalDeaths_match_only,NoInjured_match_only,NoAffected_match_only,NoHomeless_match_only,TotalAffected_match_only,TotalDamages_match_only,event_count_match_only
9,AUS,1999,168.0,6.0,0.0,4000.0,672.0,4672.0,0.0,0.0,...,2.0,2.0,1.0,6.0,0.0,4000.0,672.0,4672.0,500000.0,2.0
10,AUS,2000,196.0,1.0,0.0,1350.0,0.0,1350.0,0.0,10000.0,...,2.0,2.0,0.0,1.0,0.0,600.0,0.0,600.0,150000.0,2.0
16,AUS,2006,76.0,0.0,30.0,2000.0,7000.0,9030.0,0.0,335000.0,...,3.0,2.0,2.0,0.0,30.0,2000.0,7000.0,9030.0,1182354.0,3.0
17,AUS,2007,72.0,2.0,0.0,730.0,90.0,820.0,0.0,0.0,...,1.0,1.0,1.0,2.0,0.0,730.0,90.0,820.0,100000.0,1.0
19,AUS,2009,68.0,0.0,0.0,400.0,0.0,400.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,400.0,0.0,400.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
889,VNM,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
891,VNM,2013,0.0,74.0,584.0,1962485.0,375.0,1963444.0,0.0,0.0,...,4.0,4.0,1.0,74.0,584.0,1962485.0,375.0,1963444.0,1474230.0,4.0
892,VNM,2014,0.0,38.0,0.0,48075.0,0.0,48075.0,0.0,0.0,...,3.0,2.0,1.0,38.0,0.0,48075.0,0.0,48075.0,10700.0,3.0
893,VNM,2015,0.0,18.0,0.0,0.0,115.0,115.0,0.0,0.0,...,2.0,0.0,0.0,18.0,0.0,0.0,115.0,115.0,12800.0,2.0
909,ZWE,2003,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
df_all.to_excel(project_dir.joinpath('data/country_patent_merge_tc_only.xlsx'))

In [13]:
df_results = get_analysis_df(df_all).join(get_analysis_df(df_match_only), lsuffix='_all', rsuffix='_match_only')
df_results.head()

,tot_pat_adapt_all,total_storm_events_all,country_years_with_storms_all,country_years_all,share_with_storms_all,tot_pat_adapt_match_only,total_storm_events_match_only,country_years_with_storms_match_only,country_years_match_only,share_with_storms_match_only
ISO,,,,,,,,,,
AUS,3171.0,18.0,11,28,0.392857,3171.0,15.0,9.0,28.0,0.321429
BLR,0.0,1.0,1,28,0.035714,NaN,NaN,NaN,NaN,NaN
BRA,270.0,1.0,1,28,0.035714,NaN,NaN,NaN,NaN,NaN
CAN,1980.0,6.0,5,28,0.178571,1980.0,6.0,5.0,28.0,0.178571
CHN,34210.0,112.0,26,28,0.928571,34210.0,89.0,26.0,28.0,0.928571

In [14]:
df_results.to_excel(project_dir.joinpath('data/country_patent_merge_coverage.xlsx'))

# Combine data - All storm types
Aggregate event data to the country-year level and merge the 2 datasets

In [15]:
df_storms_all['event_count'] = 1
# All recorded events that were merged with TCE-DAT (useful to reduce the reporting bias: 
# do not consider weak storms reported in some countries only)
df_storms_all['event_count_v34'] = 0
df_storms_all.loc[df_storms_all.v_land_kn >= 34, 'event_count_v34'] = 1
# Category 1+ hurricane on saffir simpson scale (only valid for western hemisphere cyclones)
df_storms_all['event_count_v64'] = 0
df_storms_all.loc[df_storms_all.v_land_kn >= 64, 'event_count_v64'] = 1
# Category 3+ hurricanes
df_storms_all['event_count_v96'] = 0
df_storms_all.loc[df_storms_all.v_land_kn >= 96, 'event_count_v96'] = 1

df_storms_all[df_storms_all.is_match].groupby(['ISO', 'year']).sum()

          Year  Seq  AidContribution  DisMagValue  Latitude  Longitude  month  \
ISO year
AIA 1984  1984  200              0.0          0.0       0.0        0.0     11
    1999  1999  528              0.0        215.0       0.0        0.0     11
ANT 1989  1989  115              0.0          0.0       0.0        0.0      9
    1995  1995  193              0.0        220.0       0.0        0.0      9
ASM 2005  2005  151              0.0          0.0       0.0        0.0      2
...        ...  ...              ...          ...       ...        ...    ...
VUT 2015  2015   93              0.0        250.0       0.0        0.0      3
WSM 2005  2005  151              0.0        190.0       0.0        0.0      2
    2012  2012  498           3458.0          0.0       0.0        0.0     12
YEM 2015  4030  978              0.0          0.0       0.0        0.0     22
ZWE 2003  2003  114              0.0          0.0       0.0        0.0      3

          day  EndYear  EndMonth  ...  assets64_d15  assets96_d15  \
ISO year                          ...
AIA 1984    7     1984        11  ...           0.0           0.0
    1999   17     1999        11  ...           0.0           0.0
ANT 1989   17     1989         9  ...           0.0           0.0
    1995    5     1995         9  ...           0.0           0.0
ASM 2005   16     2005         2  ...           0.0           0.0
...       ...      ...       ...  ...           ...           ...
VUT 2015   12     2015         3  ...           0.0           0.0
WSM 2005   16     2005         2  ...           0.0           0.0
    2012   13     2012        12  ...           0.0           0.0
YEM 2015   11     4030        22  ...           0.0           0.0
ZWE 2003    7     2003         3  ...           0.0           0.0

          assets34_d30  assets64_d30  assets96_d30  is_match  event_count  \
ISO year
AIA 1984           0.0           0.0           0.0       1.0            1
    1999           0.0           0.0           0.0       1.0            1
ANT 1989           0.0           0.0           0.0       1.0            1
    1995           0.0           0.0           0.0       1.0            1
ASM 2005           0.0           0.0           0.0       1.0            1
...                ...           ...           ...       ...          ...
VUT 2015           0.0           0.0           0.0       1.0            1
WSM 2005           0.0           0.0           0.0       1.0            1
    2012           0.0           0.0           0.0       1.0            1
YEM 2015           0.0           0.0           0.0       2.0            2
ZWE 2003           0.0           0.0           0.0       1.0            1

          event_count_v34  event_count_v64  event_count_v96
ISO year
AIA 1984                1                0                0
    1999                1                1                0
ANT 1989                1                0                0
    1995                1                1                1
ASM 2005                1                1                1
...                   ...              ...              ...
VUT 2015                1                1                1
WSM 2005                1                1                0
    2012                1                1                0
YEM 2015                2                2                1
ZWE 2003                1                0                0

[499 rows x 77 columns]

In [16]:
df_match_only = merge_df(df_patstat, df_storms_all[df_storms_all.is_match])
df_match_only.dropna()

Patent data: 2408 country-years, 86 countries
Storm data: 896 events, 499 country-years, 71 countries
After merging
Countries with patent data and at least 1 storm event: 18
Country-years total: 504, with at least 1 storm event: 205

,ISO,year,tot_pat_adapt,TotalDeaths,NoInjured,NoAffected,NoHomeless,TotalAffected,ReconstructionCosts,InsuredDamages,...,event_count_v34,event_count_v64,event_count_v96,TotalDeaths_match_only,NoInjured_match_only,NoAffected_match_only,NoHomeless_match_only,TotalAffected_match_only,TotalDamages_match_only,event_count_match_only
9,AUS,1999,168.0,6.0,1.0,4000.0,672.0,4673.0,0.0,0.0,...,3.0,3.0,2.0,6.0,1.0,4000.0,672.0,4673.0,696300.0,3.0
10,AUS,2000,196.0,1.0,0.0,600.0,0.0,600.0,0.0,10000.0,...,2.0,2.0,0.0,1.0,0.0,600.0,0.0,600.0,150000.0,2.0
16,AUS,2006,76.0,0.0,30.0,2000.0,7000.0,9030.0,0.0,335000.0,...,3.0,2.0,2.0,0.0,30.0,2000.0,7000.0,9030.0,1182354.0,3.0
17,AUS,2007,72.0,2.0,0.0,730.0,90.0,820.0,0.0,0.0,...,1.0,1.0,1.0,2.0,0.0,730.0,90.0,820.0,100000.0,1.0
19,AUS,2009,68.0,0.0,0.0,400.0,0.0,400.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,400.0,0.0,400.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,VNM,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
471,VNM,2013,0.0,74.0,584.0,1962485.0,375.0,1963444.0,0.0,0.0,...,4.0,4.0,1.0,74.0,584.0,1962485.0,375.0,1963444.0,1474230.0,4.0
472,VNM,2014,0.0,38.0,0.0,48075.0,0.0,48075.0,0.0,0.0,...,3.0,2.0,1.0,38.0,0.0,48075.0,0.0,48075.0,10700.0,3.0
473,VNM,2015,0.0,18.0,0.0,0.0,115.0,115.0,0.0,0.0,...,2.0,0.0,0.0,18.0,0.0,0.0,115.0,115.0,12800.0,2.0
489,ZWE,2003,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [17]:
df_all = merge_df(df_patstat, df_storms_all)
df_all.dropna()

Patent data: 2408 country-years, 86 countries
Storm data: 2884 events, 1337 country-years, 179 countries
After merging
Countries with patent data and at least 1 storm event: 72
Country-years total: 2016, with at least 1 storm event: 598

,ISO,year,tot_pat_adapt,TotalDeaths,NoInjured,NoAffected,NoHomeless,TotalAffected,ReconstructionCosts,InsuredDamages,...,event_count_v34,event_count_v64,event_count_v96,TotalDeaths_match_only,NoInjured_match_only,NoAffected_match_only,NoHomeless_match_only,TotalAffected_match_only,TotalDamages_match_only,event_count_match_only
65,AUS,1999,168.0,7.0,25.0,10000.0,672.0,10697.0,0.0,1100000.0,...,3.0,3.0,2.0,6.0,1.0,4000.0,672.0,4673.0,696300.0,3.0
66,AUS,2000,196.0,1.0,0.0,1350.0,0.0,1350.0,0.0,10000.0,...,2.0,2.0,0.0,1.0,0.0,600.0,0.0,600.0,150000.0,2.0
72,AUS,2006,76.0,0.0,30.0,2000.0,7000.0,9030.0,0.0,335000.0,...,3.0,2.0,2.0,0.0,30.0,2000.0,7000.0,9030.0,1182354.0,3.0
73,AUS,2007,72.0,2.0,0.0,730.0,90.0,820.0,0.0,0.0,...,1.0,1.0,1.0,2.0,0.0,730.0,90.0,820.0,100000.0,1.0
75,AUS,2009,68.0,1.0,0.0,15400.0,0.0,15400.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,400.0,0.0,400.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,VNM,2011,0.0,16.0,63.0,0.0,0.0,63.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1955,VNM,2013,0.0,74.0,584.0,1962485.0,375.0,1963444.0,0.0,0.0,...,4.0,4.0,1.0,74.0,584.0,1962485.0,375.0,1963444.0,1474230.0,4.0
1956,VNM,2014,0.0,38.0,0.0,48075.0,0.0,48075.0,0.0,0.0,...,3.0,2.0,1.0,38.0,0.0,48075.0,0.0,48075.0,10700.0,3.0
1957,VNM,2015,0.0,18.0,0.0,0.0,115.0,115.0,0.0,0.0,...,2.0,0.0,0.0,18.0,0.0,0.0,115.0,115.0,12800.0,2.0
2001,ZWE,2003,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [18]:
df_all.to_excel(project_dir.joinpath('data/country_patent_merge_all_storm_types.xlsx'))

In [19]:
df_all.event_count.sum(), df_all.event_count_v34.sum(), df_all.event_count_v64.sum(), df_all.event_count_v96.sum()

(1681.0, 491.0, 345.0, 183.0)

In [20]:
df_results = get_analysis_df(df_all).join(get_analysis_df(df_match_only), lsuffix='_all', rsuffix='_match_only')
df_results.head()

,tot_pat_adapt_all,total_storm_events_all,country_years_with_storms_all,country_years_all,share_with_storms_all,tot_pat_adapt_match_only,total_storm_events_match_only,country_years_with_storms_match_only,country_years_match_only,share_with_storms_match_only
ISO,,,,,,,,,,
ALB,1.0,2.0,2,28,0.071429,NaN,NaN,NaN,NaN,NaN
ARG,36.0,14.0,12,28,0.428571,NaN,NaN,NaN,NaN,NaN
AUS,3171.0,50.0,21,28,0.750000,3171.0,16.0,9.0,28.0,0.321429
AUT,355.0,14.0,9,28,0.321429,NaN,NaN,NaN,NaN,NaN
BEL,263.0,19.0,11,28,0.392857,NaN,NaN,NaN,NaN,NaN

In [21]:
df_results.to_excel(project_dir.joinpath('data/country_patent_merge_coverage_all_storm_types.xlsx'))

# Combine data - All storm types, but with the right patent data

In [78]:
df_storms_all = pd.read_excel(project_dir.joinpath('data/emdat_tcedat_merged_all_storm_types.xlsx'))
df_storms_all.columns

Index(['DisNo', 'Year', 'Seq', 'DisasterGroup', 'DisasterSubgroup',
       'DisasterType', 'DisasterSubtype', 'DisasterSubsubtype', 'EventName',
       'EntryCriteria',
       ...
       'assets34_d5', 'assets64_d5', 'assets96_d5', 'assets34_d15',
       'assets64_d15', 'assets96_d15', 'assets34_d30', 'assets64_d30',
       'assets96_d30', 'is_match'],
      dtype='object', length=103)

In [79]:
df_storms_all['event_count'] = 1
# All recorded events that were merged with TCE-DAT (useful to reduce the reporting bias: 
# do not consider weak storms reported in some countries only)
df_storms_all['event_count_v34'] = 0
df_storms_all.loc[df_storms_all.v_land_kn >= 34, 'event_count_v34'] = 1
# Category 1+ hurricane on saffir simpson scale (only valid for western hemisphere cyclones)
df_storms_all['event_count_v64'] = 0
df_storms_all.loc[df_storms_all.v_land_kn >= 64, 'event_count_v64'] = 1
# Category 3+ hurricanes
df_storms_all['event_count_v96'] = 0
df_storms_all.loc[df_storms_all.v_land_kn >= 96, 'event_count_v96'] = 1

In [80]:
df = df_storms_all.groupby(['ISO', 'year']).sum().reset_index()
df = df.rename(columns={'ReconstructionCosts(\'000US$)': 'ReconstructionCosts', 'InsuredDamages(\'000US$)': 'InsuredDamages'})
# Keep variables of interest and exclusive bins
df = df[['ISO', 'year', 'TotalDeaths', 'TotalDamages']
            + cols + ['event_count', 'event_count_v34', 'event_count_v64', 'event_count_v96']]

In [81]:
# Compute indicators considering only events that were matched with TCE-DAT data
df_match_only = df_storms_all.loc[df_storms_all.is_match, ['ISO', 'year', 'TotalDeaths', 'TotalDamages', 'event_count']]
df_match_only = df_match_only.groupby(['ISO', 'year']).sum().reset_index()
df = pd.merge(df, df_match_only, on=['ISO', 'year'], how='left', suffixes=('', '_match_only'))

In [82]:
df_p = pd.read_stata(project_dir.joinpath('data/patent_dataset.dta'))

print(f'Patent data: {len(df_p)} country-years, {len(df_p.ISO.unique())} countries')
print(f'Storm data: {len(df_storms_all)} events, {len(df)} country-years, {len(df.ISO.unique())} countries')

Patent data: 2700 country-years, 75 countries
Storm data: 2884 events, 1337 country-years, 179 countries

In [83]:
# Make sure the 2 datasets have the same time span (1980-2015)
assert df_p.year.min() == df.year.min() and df_p.year.max() == df.year.max()

# Only keep countries where we have both patent data (i.e. country is in the df_p dataframe) and at 
# least one storm event recorded in TCE-DAT (i.e. country is in the df dataframe)
df = df[df.ISO.isin(df_p.ISO.unique())]
df_p = df_p[df_p.ISO.isin(df.ISO.unique())]

# Merge between 2 datasets. Left merge to have all years thanks to the patent dataset, even when we don't have storm data
df = pd.merge(df_p, df, on=['ISO', 'year'], how='left')

In [84]:
print('After merging')
print(f'Countries with patent data and at least 1 storm event: {len(df.ISO.unique())}')
print(f'Country-years total: {len(df)}, with at least 1 storm event: {df.event_count.count()}')
print(f'Total events kept: {df.event_count.sum()}')

After merging
Countries with patent data and at least 1 storm event: 66
Country-years total: 2376, with at least 1 storm event: 714
Total events kept: 1943.0

In [89]:
# Compared to the old method, we match less countries: 
# ('BIH', 'CUB', 'EST', 'HUN', 'LTU', 'LVA', 'MDA', 'SVK', 'SVN') are not matched, because they are not in the 
# 'new' patent dataset. 3 additional countries are matched however
set(c2) - set(c1)

{'BIH', 'CUB', 'EST', 'HUN', 'LTU', 'LVA', 'MDA', 'SVK', 'SVN'}

In [90]:
set(c1) -  set(c2)

{'ARM', 'THA', 'TTO'}

In [16]:
df_match_only = merge_df(df_patstat, df_storms_all[df_storms_all.is_match])
df_match_only.dropna()

Patent data: 2408 country-years, 86 countries
Storm data: 896 events, 499 country-years, 71 countries
After merging
Countries with patent data and at least 1 storm event: 18
Country-years total: 504, with at least 1 storm event: 205

,ISO,year,tot_pat_adapt,TotalDeaths,NoInjured,NoAffected,NoHomeless,TotalAffected,ReconstructionCosts,InsuredDamages,...,event_count_v34,event_count_v64,event_count_v96,TotalDeaths_match_only,NoInjured_match_only,NoAffected_match_only,NoHomeless_match_only,TotalAffected_match_only,TotalDamages_match_only,event_count_match_only
9,AUS,1999,168.0,6.0,1.0,4000.0,672.0,4673.0,0.0,0.0,...,3.0,3.0,2.0,6.0,1.0,4000.0,672.0,4673.0,696300.0,3.0
10,AUS,2000,196.0,1.0,0.0,600.0,0.0,600.0,0.0,10000.0,...,2.0,2.0,0.0,1.0,0.0,600.0,0.0,600.0,150000.0,2.0
16,AUS,2006,76.0,0.0,30.0,2000.0,7000.0,9030.0,0.0,335000.0,...,3.0,2.0,2.0,0.0,30.0,2000.0,7000.0,9030.0,1182354.0,3.0
17,AUS,2007,72.0,2.0,0.0,730.0,90.0,820.0,0.0,0.0,...,1.0,1.0,1.0,2.0,0.0,730.0,90.0,820.0,100000.0,1.0
19,AUS,2009,68.0,0.0,0.0,400.0,0.0,400.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,400.0,0.0,400.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469,VNM,2011,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
471,VNM,2013,0.0,74.0,584.0,1962485.0,375.0,1963444.0,0.0,0.0,...,4.0,4.0,1.0,74.0,584.0,1962485.0,375.0,1963444.0,1474230.0,4.0
472,VNM,2014,0.0,38.0,0.0,48075.0,0.0,48075.0,0.0,0.0,...,3.0,2.0,1.0,38.0,0.0,48075.0,0.0,48075.0,10700.0,3.0
473,VNM,2015,0.0,18.0,0.0,0.0,115.0,115.0,0.0,0.0,...,2.0,0.0,0.0,18.0,0.0,0.0,115.0,115.0,12800.0,2.0
489,ZWE,2003,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [85]:
df_all = merge_df(df_patstat, df_storms_all)
df_all.dropna()

Patent data: 2408 country-years, 86 countries
Storm data: 2884 events, 1337 country-years, 179 countries
After merging
Countries with patent data and at least 1 storm event: 72
Country-years total: 2016, with at least 1 storm event: 598

,ISO,year,tot_pat_adapt,TotalDeaths,NoInjured,NoAffected,NoHomeless,TotalAffected,ReconstructionCosts,InsuredDamages,...,event_count_v34,event_count_v64,event_count_v96,TotalDeaths_match_only,NoInjured_match_only,NoAffected_match_only,NoHomeless_match_only,TotalAffected_match_only,TotalDamages_match_only,event_count_match_only
65,AUS,1999,168.0,7.0,25.0,10000.0,672.0,10697.0,0.0,1100000.0,...,3.0,3.0,2.0,6.0,1.0,4000.0,672.0,4673.0,696300.0,3.0
66,AUS,2000,196.0,1.0,0.0,1350.0,0.0,1350.0,0.0,10000.0,...,2.0,2.0,0.0,1.0,0.0,600.0,0.0,600.0,150000.0,2.0
72,AUS,2006,76.0,0.0,30.0,2000.0,7000.0,9030.0,0.0,335000.0,...,3.0,2.0,2.0,0.0,30.0,2000.0,7000.0,9030.0,1182354.0,3.0
73,AUS,2007,72.0,2.0,0.0,730.0,90.0,820.0,0.0,0.0,...,1.0,1.0,1.0,2.0,0.0,730.0,90.0,820.0,100000.0,1.0
75,AUS,2009,68.0,1.0,0.0,15400.0,0.0,15400.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,400.0,0.0,400.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,VNM,2011,0.0,16.0,63.0,0.0,0.0,63.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1955,VNM,2013,0.0,74.0,584.0,1962485.0,375.0,1963444.0,0.0,0.0,...,4.0,4.0,1.0,74.0,584.0,1962485.0,375.0,1963444.0,1474230.0,4.0
1956,VNM,2014,0.0,38.0,0.0,48075.0,0.0,48075.0,0.0,0.0,...,3.0,2.0,1.0,38.0,0.0,48075.0,0.0,48075.0,10700.0,3.0
1957,VNM,2015,0.0,18.0,0.0,0.0,115.0,115.0,0.0,0.0,...,2.0,0.0,0.0,18.0,0.0,0.0,115.0,115.0,12800.0,2.0
2001,ZWE,2003,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0

In [88]:
c2 = df_all.ISO.unique()

In [18]:
df_all.to_excel(project_dir.joinpath('data/country_patent_merge_all_storm_types.xlsx'))

In [19]:
df_all.event_count.sum(), df_all.event_count_v34.sum(), df_all.event_count_v64.sum(), df_all.event_count_v96.sum()

(1681.0, 491.0, 345.0, 183.0)

In [20]:
df_results = get_analysis_df(df_all).join(get_analysis_df(df_match_only), lsuffix='_all', rsuffix='_match_only')
df_results.head()

,tot_pat_adapt_all,total_storm_events_all,country_years_with_storms_all,country_years_all,share_with_storms_all,tot_pat_adapt_match_only,total_storm_events_match_only,country_years_with_storms_match_only,country_years_match_only,share_with_storms_match_only
ISO,,,,,,,,,,
ALB,1.0,2.0,2,28,0.071429,NaN,NaN,NaN,NaN,NaN
ARG,36.0,14.0,12,28,0.428571,NaN,NaN,NaN,NaN,NaN
AUS,3171.0,50.0,21,28,0.750000,3171.0,16.0,9.0,28.0,0.321429
AUT,355.0,14.0,9,28,0.321429,NaN,NaN,NaN,NaN,NaN
BEL,263.0,19.0,11,28,0.392857,NaN,NaN,NaN,NaN,NaN

In [21]:
df_results.to_excel(project_dir.joinpath('data/country_patent_merge_coverage_all_storm_types.xlsx'))