In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../data/processed/TCE-DAT_historic-exposure_1950-2015_cl_distances.csv')

In [3]:
df

,year,IBTrACS_ID,TC_name,NatCatSERVICE_ID,genesis_basin,countries_affected,ISO3,v_land_SI,v_land_kn,pop_34kn,...,pop_96kn_15km,assets_34kn_15km,assets_64kn_15km,assets_96kn_15km,pop_34kn_30km,pop_64kn_30km,pop_96kn_30km,assets_34kn_30km,assets_64kn_30km,assets_96kn_30km
0,1950,1950166N14262,UNNAMED,NaN,EP,single,MEX,47.3,92.0,1.435042e+06,...,0.000000e+00,1.814476e+09,4.357072e+08,0.000000e+00,7.637151e+05,1.422663e+05,0.000000e+00,2.760891e+09,5.392150e+08,0.000000e+00
1,1950,1950174N17126,ELSIE,NaN,WP,multi,JPN,51.7,100.6,8.460128e+06,...,1.970463e+04,5.334348e+10,7.370407e+09,2.335967e+08,8.230620e+06,7.779364e+05,1.970463e+04,6.854200e+10,7.370407e+09,2.335967e+08
2,1950,1950174N17126,ELSIE,NaN,WP,multi,KOR,19.5,37.8,4.054694e+05,...,0.000000e+00,8.689325e+08,0.000000e+00,0.000000e+00,4.054694e+05,0.000000e+00,0.000000e+00,8.689325e+08,0.000000e+00,0.000000e+00
3,1950,1950185N18254,UNNAMED,NaN,EP,single,MEX,28.8,55.9,1.943859e+05,...,0.000000e+00,4.938643e+08,0.000000e+00,0.000000e+00,1.681960e+05,0.000000e+00,0.000000e+00,6.512574e+08,0.000000e+00,0.000000e+00
4,1950,1950191N12149,UNNAMED,NaN,WP,single,JPN,26.0,50.5,1.495236e+05,...,0.000000e+00,1.206838e+09,0.000000e+00,0.000000e+00,1.350129e+05,0.000000e+00,0.000000e+00,1.647435e+09,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5330,2015,2015309N14067,MEGH,NaN,NI,multi,SOM,39.0,75.8,2.266291e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5331,2015,2015309N14067,MEGH,NaN,NI,multi,YEM,61.6,119.7,5.999349e+04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5332,2015,2015312N11083,UNNAMED,NaN,NI,single,IND,19.4,37.8,8.469681e+05,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5333,2015,2015344N07145,MELOR,NaN,WP,multi,PHL,65.9,128.1,5.133590e+07,...,4.238815e+06,2.925278e+11,1.284384e+11,4.175902e+10,4.507621e+07,1.688196e+07,4.606214e+06,3.868367e+11,1.640968e+11,4.592332e+10
5334,2015,2015355S16136,UNNAMED,NaN,SP,single,AUS,22.7,44.1,1.015032e+05,...,0.000000e+00,5.074230e+09,0.000000e+00,0.000000e+00,8.403985e+04,0.000000e+00,0.000000e+00,5.142195e+09,0.000000e+00,0.000000e+00

In [11]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    display(df.groupby('ISO3')[['TC_name', 'pop_34kn', 'pop_96kn_5km']].count())

      TC_name  pop_34kn  pop_96kn_5km
ISO3
ABW        12        12             0
AIA        33        33             0
AND         1         1             0
ANT        46        46             0
ASM        13        13             0
ATG        38        38             0
AUS       243       243           243
BGD        54        54             0
BHS        81        81             0
BLZ        29        29             0
BRA         2         2             0
BRB        27        27             0
BRN         1         1             0
CAN       102       102           102
CHN       569       569           569
COL        12        12             0
COM         9         9             0
CPV        25        25             0
CRI         4         4             0
CUB        75        75             0
DMA        37        37             0
DOM        44        44            44
DZA         1         1             0
ESP         8         8             0
FJI        27        27             0
FRA         4         4             0
FRO         8         8             0
GBR        14        14             0
GIN         1         1             0
GLP        56        56             0
GNB         1         1             0
GRD        17        17             0
GTM        33        33             0
HKG       108       108             0
HND        32        32            32
HTI        36        36             0
IDN        20        20             0
IMN         2         2             0
IND       154       154             0
IRL        11        11             0
IRN         2         2             0
ISL         8         8             0
JAM        26        26             0
JPN       481       481           481
KHM        48        48             0
KNA        33        33             0
KOR        85        85            85
LAO       125       125             0
LCA        30        30             0
LKA        11        11             0
MAR         1         1             0
MDG        92        92             0
MEX       336       336           336
MMR        37        37             0
MOZ        22        22             0
MSR        34        34             0
MTQ        34        34             0
MUS        25        25             0
MWI         2         2             0
MYS         4         4             0
MYT        11        11             0
NCL        59        59             0
NIC        23        23            23
NOR         3         3             0
NZL         7         7             0
OMN        10        10             0
PAK         5         5             0
PAN         3         3             0
PHL       518       518           518
PNG        21        21             0
PRI        36        36             0
PRK        28        28             0
PRT         4         4             0
REU        24        24             0
RUS        42        42             0
SAU         1         1             0
SGP         1         1             0
SLB        40        40             0
SLV         9         9             9
SOM         9         9             0
SPM        24        24             0
TCA        26        26             0
THA        61        61             0
TLS         2         2             0
TON        19        19             0
TTO         9         9             0
TWN       226       226             0
TZA         1         1             0
USA       239       239           239
VCT        28        28             0
VEN        12        12             0
VIR        30        30             0
VNM       280       280           280
VUT        77        77             0
WSM        12        12             0
YEM         5         5             0
ZAF         1         1             0
ZWE         3         3             0